<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184218732736-77hald6elj2rtt09p0bjpahijesiv1hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184218732736-77hald6elj2rtt09p0bjpahijesiv1hj</string>
	<key>API_KEY</key>
	<string>AIzaSyAB5UmVH_fP1HeZbNYHE5IdXoiurOdz0G4</string>
	<key>GCM_SENDER_ID</key>
	<string>184218732736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freechers.userfront</string>
	<key>PROJECT_ID</key>
	<string>freechers-3a71a</string>
	<key>STORAGE_BUCKET</key>
	<string>freechers-3a71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184218732736:ios:d67a5a7e95cdffde7bc525</string>
	<key>DATABASE_URL</key>
	<string>https://freechers-3a71a.firebaseio.com</string>
</dict>
</plist>